/* 전체 Navbar 느낌: 시네마 분위기의 다크 + 글래스 */
.cinema-navbar,
.dropdown-menu
 {
  background: #3d3d3d !important;
  /* border-bottom: 1px solid rgba(255, 200, 100, 0.15); */
  padding: 0.7rem 1rem;
  transition: all 0.3s ease;
}

/* 브랜드 로고 */
.cinema-navbar .cinema-brand {
  font-weight: 700;
  color: #f5d67b;
  letter-spacing: 1px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 8px;
}
.cinema-navbar .cinema-brand:hover {
  color: #ffffff;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}


.cinema-navbar .nav-link{
    font-family: 'Arial', 'Helvetica', sans-serif;
    overflow: hidden;
    z-index: 1;
    color: #ffffff ;
    font-weight: 400 ;
    letter-spacing: 0.7px;
    padding: 0.6em 1em;
    position:relative;
    min-width: 85px;
    transition: all 0.5s ease;
    text-align: center;
}

.cinema-navbar .nav-link:before,
.cinema-navbar .nav-link:after{
  content: "";
  transition: 0.3s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 0;
  height: 5px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}

.cinema-navbar .nav-link:before{
  right: 0;
  top: 0;
}

.cinema-navbar .nav-link:after{
  left: 0;
  bottom: 0;
}

.cinema-navbar .nav-link:hover:before,
.cinema-navbar .nav-link:hover:after{
  width: 100%;
  background: linear-gradient(135deg, #012a9b9d, #00ccff);
}


.fw-600{
  font-weight: 600 !important;
}




/* 메뉴 메인아이콘 관련 */
.sooplol-icon-focus {
  width: 30px;
  height: 30px;
  border-radius: 14px;
  background: linear-gradient(135deg, #012a9b9d, #00ccff);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow:
    0 0 12px rgba(0, 204, 255, 0.6),
    inset 0 0 8px rgba(0, 0, 0, 0.5);
}

/* 흐릿한 무한대 */
.infinity{
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  z-index: 3;
  pointer-events: none;
}

.infinity::before,
.infinity::after {
  content: "";
  position: absolute;
  top: 0;
  width: 22px;
  height: 22px;
  border: 3px solid #ffffff85;
  background: linear-gradient(135deg, #012a9b25, #00ccff77);
  border-radius: 50%;
  filter: blur(0.6px);
}

/* 왼쪽 고리 */
.infinity::before {
  left: 0;
  border-right: none;
}

/* 오른쪽 고리 */
.infinity::after {
  right: 0;
  border-left: none;
}

/* 강조된 L */
.l-letter {
  font-size: 36px;
  font-weight: 900;
  font-family: 'Arial Black', 'Segoe UI', sans-serif;
  color: #ffffff;
  z-index: 1;
  text-shadow:
    0 0 6px rgba(255, 255, 255, 0.8),
    0 0 14px rgba(0, 204, 255, 0.9);
}