/* 전체 Navbar 느낌: 시네마 분위기의 다크 + 글래스 */
.cinema-navbar,
.dropdown-menu
 {
  background: #3d3d3d !important;
  /* border-bottom: 1px solid rgba(255, 200, 100, 0.15); */
  padding: 0.7rem 1rem;
  transition: all 0.3s ease;
}

/* 브랜드 로고 */
.cinema-navbar .cinema-brand {
  font-weight: 700;
  color: #f5d67b;
  letter-spacing: 1px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 8px;
}
.cinema-navbar .cinema-brand:hover {
  color: #ffffff;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}


.cinema-navbar .nav-link{
    font-family: 'Arial', 'Helvetica', sans-serif;
    overflow: hidden;
    z-index: 1;
    color: #ffffff ;
    font-weight: 400 ;
    letter-spacing: 0.7px;
    padding: 0.6em 1em;
    position:relative;
    min-width: 85px;
    transition: all 0.5s ease;
    text-align: center;
}

.cinema-navbar .nav-link:before,
.cinema-navbar .nav-link:after{
  content: "";
  transition: 0.3s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 0;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
}
.cinema-navbar .nav-link:before{
  right: 0;
  top: 0;
}

.cinema-navbar .nav-link:after{
  left: 0;
  bottom: 0;
}

.cinema-navbar .nav-link:hover:before,
.cinema-navbar .nav-link:hover:after{
  width: 100%;
  background: #0066ff;
}


.fw-600{
  font-weight: 600 !important;
}
