.match-official > td,
.match-semifinal > td,
.match-final > td {
    color : #e6d36a !important;
    font-weight: 600;
}

.match-official > td:first-child,
.match-semifinal > td:first-child,
.match-final > td:first-child {
    position: relative;
    border-left: none !important;
}

.match-official > td:first-child::before,
.match-semifinal > td:first-child::before,
.match-final > td:first-child::before { 
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    bottom: 8px;
    width: 6px;
    border-radius: 4px;
}

.match-official > td:first-child::before {
    background-color: #06ff06d7;
}

.match-semifinal > td:first-child::before {
    background-color: rgba(255, 153, 0, 0.767);
}

.match-final > td:first-child::before {
    background-color: rgba(255, 230, 0, 1);
}


.match-official .badge-official {
    background-color: #FFD700;
    color: #212529 !important;
    font-weight: 700;
}

.match-semifinal .badge-semifinal {
    background-color: #FFB300;
    color: #212529 !important;
    font-weight: 700;
}

.match-final .badge-final {
    background-color: #FF6B35;
    color: white !important;
    font-weight: 700;
}
