body {
  /* 원하는 배경색 (예: 어두운 회색) */
  background-color: #212529; 
  
  /* 글자색도 흰색 계열로 맞춰주면 좋습니다 */
  color: #f8f9fa; 
  
  /* 내용이 적어도 화면 꽉 차게 배경색 입히기 (필수!) */
  min-height: 100vh;
  margin: 0;
}


 /* 모든 div 테두리 회색으로 통일 */
/* div {
  border : 1px solid #d8d8d8 !important;
} */


.page-title{
  font-weight: 600;
  padding: 6px 14px;
  border-radius: 10px;
  background: linear-gradient(135deg, rgba(0, 26, 255, 0.349), rgba(149, 0, 218, 0.089));
  box-shadow: 0 8px 16px rgba(32, 24, 70, 0.15);
  letter-spacing: .5px;
}